article {
    display: flex;
    flex-direction: column;
}

article > * {
    display: flex;
        flex-direction: column;
    
    box-sizing: border-box;
}

#intro {
    background: url('/img/background1.png') no-repeat #245871;
    background-size: contain;
    background-position: bottom;
    
    color: #ffffff;
}

#intro h1 {
    text-align: center;
}

#intro > :not(:first-child) {
    margin-left: 3em;
    
    font-size: 1.25em;
}

.row {
    display: flex;
    
    max-width: 640px;
}

footer {
    background-color: #0c435a;
    
    color: #011c28;
}

footer a {color: #336a82;}

footer a:hover {color: #ffffff;}